.gallery {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    &__prevBtn,
    &__nextBtn {
        border: none;
        background: none;
        cursor: pointer;
        border-radius: 5px;
        transition:
        background-color 0.3s ease-in-out,
        opacity 0.2s ease-in-out;
        &:hover {
            background-color: var(--border-input-color);
        }
        &:active {
            opacity: 0.5;
        }
    }
    &__container {
        display: flex;
        gap: 20px;
        overflow-y: hidden;
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color: var(--bg-main-color) var(--bg-secondary-color);
    }
    &__card {
        width: 400px;
        height: 400px;
        object-fit: cover;
    }
    &__titleWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 50px; 
        align-items: center; 
        justify-content: center;
        margin-bottom: 40px;
        h1 {
            @media screen and (max-width: 768px) {
                order: 1;
            }
        }
        @media screen and (max-width: 768px) {
            width: 400px;
            margin: 0 auto 40px auto;
        }
        @media screen and (max-width: 480px) {
            width: 250px;
            gap: 20px;
        }
    }
    &__prevBtn {
        @media screen and (max-width: 768px) {
            order: 2;
        }
    }
    &__nextBtn {
        @media screen and (max-width: 768px) {
            order: 3;
        }
    }
}
